body {
	font-size: 23px;
	line-height: 1.42857143;
	color: black;
	background-color: #404444;
	display: flex;
	align-items: center;
	flex-direction: column;
/*color: #fc0;  Цвет текста */
};
#cont{
	display: flex;
	align-items: center;
	flex-direction: column;

};
.SearchPlugin{
color:#666;
background-color: #404444;
}
button{
width: 250px;
height:35px;
border-radius: 4px;
margin:20px;
}
.on{
color:#666;
background-color: #404444;
}
.off{
color:#888;
background-color: white;
};
