body {
  background: #ffafbd;
  background: -webkit-linear-gradient(to right, #ffafbd, #ffc3a0);
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
}
form {
  margin-top: 20vh;
  margin-bottom: 100px;
  width: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #42275a;
  background: -webkit-linear-gradient(to right, #734b6d, #42275a);
  background: linear-gradient(to right, #734b6d, #42275a);
  border-radius: 5px;
  box-shadow: 3px 3px 5px -2px #191919;
}
label {
  color: #ffffff;
}
#timer {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 20px;
}
li {
  font-size: 20px;
  color: #ffffff;
}
h1 {
  font-size: 20px;
  color: #ffffff;
}

.content {
  margin-top: 25px;
  display: flex;
  align-items: center;
}
.content p {
  color: #ffffff;
  font-size: 20px;
}
.button {
  width: 180px;
  height: 50px;
  margin: 25px;

  font-size: 16px;
}
.on {
  color: #666;
  background-color: #ccc;
}
.off {
  color: #888;
  background-color: white;
}
