input{
border: 1px solid #cccccc; 
border-radius: 3px; 
background: #ffffff !important;
outline: none; 
height: 40px; 
width: 200px; 
color: #cccccc; 
font-size: 16px; 
font-family: Century Gothic; 
margin: 20px;
}
	