.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
}

.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.thumb {
    padding: 5px;
}
body{
    margin: 0px 0px;
}
.header{
    height: 70px;
    width: 100%;
    background-color: #d1b3f2;
}
.main-menu{
    margin: 0px;
    padding: 0px;
    display: flex;
    height: 70px;
    justify-content: flex-end;
    align-items: center;
}
.menu-item{
    margin: 0 20px;
    list-style: none;
    display: inline-block;
    vertical-align: bottom;
    font-family: Langar;
    font-size: 17px;
}
a{
    text-decoration: none;
    color: black;
}