#app {
    font-family: Roboto;

}

body {
    background-color: rgb(247, 252, 252);
}
button{
    width: 100px;
    height:30px;
    border-radius: 4px;
    margin-left: 3em;
}
.on{
    color:rgb(243, 241, 241);
    background-color: rgb(8, 44, 65);
    
}
.off{
    color:rgb(15, 15, 15);
    background-color: rgb(122, 190, 230);
}

.greet {
    margin-top: 2.5em;
}
.divname {
    margin-top: 1.5em;
}

h2 {
    margin: 2em;
}


.notvis{
    display: none;
}
.vis {
    display: flex;
}

.imgvis {
    visibility: visible;
}

.imginvis {
    visibility: hidden;
}