body{
    background-color: #fff3dd;
}

button{
    min-width: 100px;
    min-height: 40px;
    font-size: 14pt;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 20px;
}

input{
    min-width: 250px;
    min-height: 40px;
    font-size: 20pt;
    background-color: #eee;
    border: 3px solid black;
}

li{
    font-weight: bold;
    font-style: italic;
    font-size: 17pt;
}