.txt {
    padding-left: 20px;
}



.angry-grid {
            display: grid;

            grid-template-rows: 1fr 3fr 3fr 1fr;
            grid-template-columns: 1fr 3fr 3fr 3fr 1fr;

            gap: 0px;
            height: 100%;

        }

        #item-0 {

            background-color: #9259b1;
            grid-row-start: 1;
            grid-column-start: 1;

            grid-row-end: 2;
            grid-column-end: 6;

        }

        #item-1 {

            background-color: #FAEBD7;
            grid-row-start: 2;
            grid-column-start: 1;

            font-family: Dangrek;
            font-weight: Regular;

            grid-row-end: 4;
            grid-column-end: 6;

        }

        #item-2 {

            background-color: #9259b1;
            grid-row-start: 4;
            grid-column-start: 1;

            grid-row-end: 5;
            grid-column-end: 6;

        }



.angry-grid_2 {
            display: grid;
    
            grid-template-rows: 1fr 3fr 3fr 1fr;
            grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    
            gap: 0px;
            height: 100%;
    
        }
    
        #item-5 {
    
            background-color: #59b16f;
            grid-row-start: 1;
            grid-column-start: 1;
    
            grid-row-end: 2;
            grid-column-end: 6;
    
        }
    
        #item-6 {
    
            background-color: #9fc69a;
            grid-row-start: 2;
            grid-column-start: 1;
    
            grid-row-end: 4;
            grid-column-end: 6;
    
        }
    
        #item-7 {
    
            background-color: #59b16f;
            grid-row-start: 4;
            grid-column-start: 1;
    
            grid-row-end: 5;
            grid-column-end: 6;
    
        }