body {
    color: red;
    background-color: rgb(127, 187, 127);
    }

    input {
        color: rgb(14, 17, 187);
        background-color: #898e94;
        
    }

.listItem {
        font-size: 30px;
    
}



  




